body {
    background-color: #000;
    font-family: var(--font-dm-sans) ;
}

h1 {
    color: #fff;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}

.sidebar_navigation {
    background-color: #121212;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar_navigation .logo {
    background-color: #121212;
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.logo img {
    width: 80px ;
}

.sidebar nav ul {
    margin-top: 20px;
    padding: 0 20px 10px 20px;
}

.sidebar ul li {
    padding: 10px 0;
}

.sidebar nav ul li a {
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    font-family: "DM Snas",sans-serif;
}

.library {
    background-color: #121212;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 4px 8px;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
}

.library .library_content {
    display: flex;
    justify-content: space-between;
}

.library .library_button {
    margin-right: 10px;
    color: #b3b3b3;
    background-color: transparent;
    border: 0px;
    font-size: 14px;
    font-weight: 700;
    font-family: "DM Snas",sans-serif;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 20px 10px;
    display: flex;
}

.library .library_button .fa {
    font-size: 20px;
    margin-right: 10px;
    font-weight: 300px;
    padding-right: 8px;
}

.library .library_content .fa-plus{
    margin: 24px 10px;
}

.section-playlist {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #242424;
    gap: 20px;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin: 8px 0px;
    padding: 16px 10px;    
    border-radius: 10px;
}

.section-playlist .section-playlist_content{
    display: flex;
    flex-direction: column;
}

.section-playlist .section-playlist_content .text {
    padding-bottom: 14px;
    color: #fff;
    font-family: "DM Snas",sans-serif;
}

.section-playlist .section-playlist_content .title{
    font-weight: 700;
}

.section-playlist .section-playlist_content .subtitle{
    font-weight: 500;
    font-size: 12px
}

.section-playlist .section-playlist_button{
    display: flex;
    justify-content: center;
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 700;
    font-family: "DM Snas",sans-serif;
    text-transform: none;
    text-transform: none;
    padding: 10px;
    border: 0px;
    width: 113px;
    margin-top: 12px ;
}

.sidebar .cookies{
    margin: 25px 20px;
    font-family: "DM Snas",sans-serif;
}

.sidebar .cookies a {
    color: #b3b3b3;
    font-weight: 500;
    font-size: 10px;
    text-decoration: none;
}

.sidebar .cookies a:hover{
    text-decoration: underline;
}

.languages .languages_button{
    background-color: transparent;
    border: 1px solid #878787;
    cursor: pointer;
    align-items: center;
    font-weight: bold;
    width: 170px;
    padding: 8px;
    margin: 8px;
    color: #fff;
    border-radius: 20px;
}

/* Footer desafio */

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    height: 100px;
    width: 100%;
    background: linear-gradient(90deg, #FF14C4 0%, #B351FF 50%, #349CFD 100%);
    align-items: center; /* Centraliza verticalmente os itens */
}

.prom-container {
    margin: 25px;
    padding-bottom: 14px;
    color: #fff;
    font-family: "DM Sans", sans-serif;
}

.prom-container h3 {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 20px;
}

.prom-container p {
    font-size: 16px;
}

.btn-container {
    display: flex;
    flex-direction: column;
    margin-left: auto; /* Empurra o btn-container para a direita */
    margin-right: 25px; /* Adiciona uma margem à direita para espaçamento */
}

.btn-container .btn-inscrevase {
    font-family: "DM Sans", sans-serif;
    background-color: #fff;
    border: none;
    cursor: pointer;
    align-items: center;
    color: #000;
    font-weight: bold;
    height: 40px;
    width: 170px;
    padding: 8px;
    margin: 8px;
    border-radius: 20px;
}

/* Responsividade para telas menores que 768px */
@media (max-width: 768px) {
    footer {
        height: auto; /* Altura automática para se ajustar ao conteúdo */
        flex-direction: column; /* Altera a direção do flex para coluna */
        padding: 20px 0; /* Adiciona um espaçamento interno */
    }

    .prom-container {
        text-align: center; /* Centraliza o texto */
        margin: 10px 0; /* Reduz a margem */
    }

    .prom-container h3 {
        font-size: 18px; /* Reduz o tamanho da fonte */
    }

    .prom-container p {
        font-size: 14px; /* Reduz o tamanho da fonte */
    }

    .btn-container {
        margin: 10px auto; /* Centraliza o btn-container */
        align-items: center; /* Centraliza os botões */
    }

    .btn-container .btn-inscrevase {
        width: 140px; /* Reduz a largura do botão */
        height: 35px; /* Reduz a altura do botão */
        font-size: 14px; /* Reduz o tamanho da fonte */
    }
}

/* Responsividade para telas menores que 480px */
@media (max-width: 480px) {
    
    .prom-container h3 {
        font-size: 16px; /* Reduz ainda mais o tamanho da fonte */
    }

    .prom-container p {
        font-size: 12px; /* Reduz ainda mais o tamanho da fonte */
    }

    .btn-container .btn-inscrevase {
        width: 120px; /* Reduz a largura do botão */
        height: 30px; /* Reduz a altura do botão */
        font-size: 12px; /* Reduz o tamanho da fonte */
    }
}